footer.article__footer.footer
  .footer__meta
    amp-img.footer__image(
      src="/images/jason-lengstorf.jpg"
      srcset="/images/jason-lengstorf.jpg 1x, /images/jason-lengstorf@2x.jpg 2x"
      attribution="paint with stars photography"
      width="125"
      height="125"
    )
    .footer__links
      nav.footer__links-nav
        a.footer__link(
          href="https://twitter.com/jlengstorf"
        )
          svg.footer__icon.footer__icon--twitter(
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 30 30"
          )
            path(
              fill-rule="evenodd"
              d="M30 8c-1.2.5-2.4.8-3.7 1 1.3-.8 2.3-2 2.7-3.4-1.2.7-2.5 1.2-4 1.4-1-1-2.6-2-4.3-2-3.4 0-6.2 3-6.2 6.2 0 .5 0 1 .2 1.4C9.7 12.4 5 10 2 6.2c-.4 1-.7 2-.7 3 0 2.2 1 4 2.7 5.2-1 0-2-.3-2.8-.8 0 3 2 5.6 5 6-.6.3-1 .3-1.7.3-.4 0-.8 0-1-.2C4 22.3 6.4 24 9 24c-2 1.7-4.7 2.7-7.5 2.7H0c2.7 1.7 6 2.7 9.4 2.7 11.3 0 17.4-9.4 17.4-17.5v-1c1.2-.7 2.2-1.8 3-3z"
            )
        |  
        a.footer__link(
          href="https://facebook.com/jlengstorf"
        )
          svg.footer__icon.footer__icon--facebook(
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 30 30"
          )
            path(
              fill-rule="evenodd"
              d="M11 5.8v4H8V15h3v15h6.2V15h4.2s.4-2.4.5-5H17V6.4c0-.5.7-1.2 1.4-1.2H22V0h-4.6C11 0 11 5 11 5.8z"
            )
        |  
        a.footer__link(
          href="https://github.com/jlengstorf"
        )
          svg.footer__icon.footer__icon--github(
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 30 30"
          )
            path(
              fill-rule="evenodd"
              d="M15 0C6.7 0 0 6.7 0 15c0 6.6 4.3 12.2 10.3 14.2.7.2 1-.3 1-.7V26c-4.2 1-5-2-5-2-.8-1.8-1.8-2.2-1.8-2.2-1.3-1 0-1 0-1 1.7 0 2.4 1.6 2.4 1.6 1.3 2.3 3.5 1.6 4.3 1.2 0-1 .5-1.6 1-2-3.4-.3-7-1.6-7-7.4 0-1.6.7-3 1.7-4-.2-.4-.7-2 0-4 0 0 1.4-.4 4.2 1.6 1.2-.4 2.5-.5 3.8-.5 1.3 0 2.6 0 3.8.5 2.8-2 4-1.6 4-1.6 1 2 .4 3.6.2 4 1 1 1.6 2.4 1.6 4 0 5.8-3.5 7-7 7.4.7.5 1 1.4 1 2.8v4c0 .5.4 1 1.2.8 6-2 10.2-7.6 10.2-14.2 0-8.3-6.7-15-15-15"
            )
  .footer__bio
    h3.footer__heading Jason Lengstorf is a developer, designer, author, speaker, and traveler.
    .footer__worked-with
      p.footer__worked-with-lede I’ve worked with great companies, including:
      amp-img.footer__worked-with-image(
        src="/images/worked-with-dark.png"
        srcset="/images/worked-with-dark.png 1x, /images/worked-with-dark@2x.png 2x"
        width="300"
        height="19"
      )
    .footer__blurb
      p Like so many of my generation, I’ve dedicated my life to learning a skill that’ll be worth jack shit when the zombies get here. Until then, I’ll be figuring out new ways to move lights in the box in exchange for social status and food money.
      p You can #[a(href="/hire-me/") hire me as a designer, developer, or a trainer] — I can show you how to build it, teach your team how to build it faster, or build it for you.
      p I also write about non-code things at #[a(href="https://lengstorf.com/") lengstorf.com].
