//

  This shortcode mimics the WordPress [caption] shortcode (sort of).

  Options:
  - align <enum> [ alignleft, alignright, aligncenter ]
  - attr <string> entity to be credited for the image
  - attrlink <string> Must be a valid URL
  - alt <string> alt text for the image
  - imglink <string> Must be a valid URL
  - src <string> Path to the image
  - srcset <string> Allows a manual override for srcset
  - width <number> Required for amp-img; defaults to 750
  - height <number> Required for amp-img; defaults to 454


  *******************************************************************

  {{ if gt (len (.Get "align")) 0 }}
    {{ $.Scratch.Set "align" (.Get "align") }}
  {{ else }}
    {{ $.Scratch.Set "align"  "center" }}
  {{ end }}
  {{ $innerLength := len .Inner }}

  {{ if eq ($.Scratch.Get "align") "center" }}
    {{ $.Scratch.Set "sizes" "(min-width: 750px) 750px, 100vw" }}
  {{ else }}
    {{ $.Scratch.Set "sizes" "(min-width: 750px) 300px, 100vw" }}
  {{ end }}

figure.figure(
  class!= 'figure--{{ $.Scratch.Get "align" }}'
) {{ with .Get "imglink" }}<a class="figure__image-link" href="{{ . }}">{{ end }}
  .figure__image-wrap
    amp-img.figure__image(
      src!= '{{ replace (.Get "src") ".jpg" "@2x.jpg" }}'
      srcset!= '{{ replace (.Get "src") ".jpg" "-300w.jpg" }} 300w, {{ replace (.Get "src") ".jpg" "-600w.jpg" }} 600w, {{ .Get "src" }} 750w, {{ replace (.Get "src") ".jpg" "@2x.jpg" }} 1500w'
      sizes!= '{{ $.Scratch.Get "sizes" | safeHTML }}'
      alt!= '{{ with .Get "alt" }}{{.}}{{ end }}'
      attribution!= '{{ .Get "attr" }}'
      width!= '{{ with .Get "width" }}{{ . }}{{ else }}750{{ end }}'
      height!= '{{ with .Get "height" }}{{ . }}{{ else }}454{{ end }}'
    )
  | {{ with .Get "imglink" }}</a>{{ end }}

  //{{ if or (.Get "attr") (gt $innerLength 0) }}
  figcaption.figure__caption {{ if and (gt $innerLength 0) (not (lt (len .Inner) 2)) }}{{ with .Inner }}{{ . }}{{ end }}{{ end }}{{ if isset .Params "attr" }} #[small.figure__attribution Credit:{{ with .Get "attrlink" }}<a class="figure__attribution-link" href="{{.}}">{{ end }} {{ .Get "attr" }}{{ if .Get "attrlink" }}</a>{{ end }}]{{ end }}
  //{{ end }}
