doctype html

block config
  -
    const config = {
      nav: [
        {
          name: "<jl/>",
          footerName: "Home",
          class: "home",
          href: "{{ .Site.BaseURL }}",
          title: "Jason Lengstorf on code"
        },
        {
          name: "Front-End",
          class: "front-end",
          href: "{{ .Site.BaseURL }}category/front-end/",
        },
        {
          name: "APIs",
          class: "api",
          href: "{{ .Site.BaseURL }}category/api/",
        },
        {
          name: "Build Tools",
          class: "build-tools",
          href: "{{ .Site.BaseURL }}category/build-tools/",
        },
        {
          name: "DevOps",
          class: "devops",
          href: "{{ .Site.BaseURL }}category/devops/",
        },
        {
          name: "CMS",
          class: "cms",
          href: "{{ .Site.BaseURL }}category/cms/",
        },
        {
          name: "Hire Me",
          class: "page",
          href: "{{ .Site.BaseURL }}hire-me/",
          hideInHeader: true,
        },
        {
          name: "Contact",
          class: "page",
          href: "https://lengstorf.com/contact/",
          hideInHeader: true,
        },
      ],
      type: "default",
    };
  -

html(⚡)

  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    )
    link(rel="canonical" href="{{ .Permalink }}")
    title
      block title
        | {{ with .Params.seo_title }}{{ . }}{{ else }}{{ .Title }}{{ end }}
    block meta_description
      meta(
        name="description"
        content="{{ with .Description }}{{ . }}{{ else }}{{ $.Site.Params.description }}{{ end }}"
      )
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png?v=2", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-194x194.png?v=2", sizes="194x194")
    link(rel="icon", type="image/png", href="/favicon-96x96.png?v=2", sizes="96x96")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png?v=2", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-16x16.png?v=2", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#c319ff")
    meta(name="msapplication-TileColor", content="#c319ff")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#faf8fd")

    block opengraph
      include ../partials/head-open-graph.pug

    block fonts
      //- script(src="https://use.typekit.net/jeh2dxb.js")
      //- script.
      //-   try{Typekit.load({ async: true });}catch(e){}

    //- This brings the stylesheet inline in the doc.
    style(amp-custom)
      include /static/styles/app.css

    style(amp-boilerplate).
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}

    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    script(
      async custom-element="amp-youtube"
      src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"
    )
    script(
      async custom-element="amp-analytics"
      src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"
    )
    script(
      async custom-element="amp-iframe"
      src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"
    )
    script(async src="https://cdn.ampproject.org/v0.js")

  body.no-js
    // {{ if .Site.BuildDrafts }}
    include ../partials/dev/browsersync.pug
    // {{ end }}
    amp-analytics(type="googleanalytics" id="analytics1")
      script( type="application/json").
        {
          "vars": {
            "account": "UA-39001606-2"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
    header.site-header
      nav.site-header__nav.nav.nav--main
        each link in config.nav
          if !link.hideInHeader
            a.nav__link(
              class= `nav__link--${link.class}`
              href= link.href
              title= link.title || ''
            )= link.name
            |  

    main.site-content
      block content
        article.site-content__article.article(
          class= `article--${config.type}`
        )
          block article
            h1.
              {{ .Title }}
            | {{ .Content }}

          block article-footer
            | {{ partial "footer-bio.html" . }}

    footer.site-footer
      block footer
        nav.site-footer__nav
          each link in config.nav
            if !link.hideInFooter
              a.site-footer__nav-link(
                href= link.href
                title= link.title || ''
              )= link.footerName || link.name
              |  

        p.site-footer__credits
          | All content © #[a(href="{{ .Site.BaseURL }}") Jason Lengstorf].

    //- script.
    //-   (function(d) {
    //-     var config = {
    //-       kitId: 'fnr1orp',
    //-       scriptTimeout: 3000,
    //-       async: true
    //-     },
    //-     h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    //-   })(document);
